
@{
}

@* <head>

    <link rel="stylesheet" href="Test.cshtml.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>

@functions 
{
    public int myFunction()
    {
        Random rnt = new Random();
        ViewData["POMOC"] = rnt.Next(1, 101);
        return 0;
        ViewBag.POMOCY = 1;
    }
}
<button onclick="@myFunction()">Click me</button>
@while(1 == 1)
{
@do
{
    <h1>@ViewData["POMOC"]</h1>
} while (ViewBag.POMOCY == 1);
} 



@*     @setTimeout("doSomething()", 500);

    @function doSomething() {
    Url.Action("ControlPanelAdmin", "Account")
            setTimeout("doSomething()", 500);
    } *@




@* @foreach ( var m in Model)
{
    <p>@m.Id @m.Name</p>

}

@for( int i = 0; i < 100001; i++)
{

    <h2>@i Test</h2>
 
} *@
